body {
    padding: 10px;
  }


label {
    font-weight:bold;
}


input {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    width: 99%;
    margin-bottom: 30px;
  }

textarea {
    display:flex;
    flex-wrap:wrap;
    margin-top: 5px;
    width: 99%;
    height: 150px;
    margin-bottom: 30px;
}

legend {
    font-weight: bold;
    font-family:sans-serif;
    color: red;
}

